/* Write your CSS here */
.chrono-container {
  height: 85vh;
}
.courseItem {
  display: flex;
  justify-content: flex-start;
}
.ccbp-text {
  color: #2b237c;
  font-family: 'Roboto';
  font-weight: 600;
  text-align: center;
}
.my-journey-text {
  color: #1e293b;
  font-family: 'Roboto';
  font-weight: 600;
  text-align: center;
}